# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/node_modules
.vscode
.idea
# dependencies
/OE_Test/node_modules
\videos
package-lock.json
yarn-error.log
\cypress\screenshots
\mochawesome-report
\screenshots
/node_modules
/cypress/videos